<span class="content">  
	<div class="col-md-6">
		<div class="div1">

    	<%= post.content %><br>
         <span class="timestamp">
	        Posted at <%= post.created_at.strftime('%F Time %T') %><br>
	        Posted by <%= post.page.email %><br><br>
	    </span>
	    </div>	     
    </div>
</span>
